.hero {
  background-image: url('https://media.istockphoto.com/id/1086330828/photo/an-evening-well-spent-with-a-dominant-male-tiger-of-tourism-area-and-his-cubs-at-ranthambore.jpg?s=612x612&w=0&k=20&c=VN8huZhigGt0-dv-abYaZ0sgNPI-AmRBoxV9_PsXhWM=');
  background-size: cover;
  background-position: center;
  height: 90vh;
}